Astroberry Dashboard.json
[
    {
        "id": "c3d0a05c4b8ac63b",
        "type": "tab",
        "label": "AstroberryDashbord",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d416c5ded7cb052a",
        "type": "subflow",
        "name": "Bolean2Color",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "deb0c7475fc3f383"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 100,
                "wires": [
                    {
                        "id": "9cea0653c19a2d94",
                        "port": 0
                    },
                    {
                        "id": "073e29f9f7715e5d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6f8de54df6cd955e",
        "type": "subflow",
        "name": "ServiceStatus2Color",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "06ce349d38ae0fb1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 120,
                "wires": [
                    {
                        "id": "6bd23e7fef049a75",
                        "port": 0
                    },
                    {
                        "id": "2ef6a64b03c5380f",
                        "port": 0
                    },
                    {
                        "id": "dd6dbf1f33a4edf8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 820,
                "y": 240,
                "wires": [
                    {
                        "id": "863b761e0e2bf00b",
                        "port": 0
                    },
                    {
                        "id": "d618e5387810ed85",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "557ad53c603ba1b5",
        "type": "subflow",
        "name": "Alarm Latch",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "47298724f4c6dc14"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "47298724f4c6dc14",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "95b974680d37559d",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "Shutdown/Restart",
        "style": {
            "label": true,
            "label-position": "ne",
            "color": "#0070c0",
            "stroke": "#bfdbef"
        },
        "nodes": [
            "66835c040d095a57",
            "381f287b0c116dd1",
            "94046c76a98453bb",
            "c6fc67cedabb81e1",
            "d9ed37d5a131e44b",
            "018555d80f7d9547",
            "3bc1537c3343d03d",
            "322cb3fcd96bc97f",
            "23359a0e7d26a17a"
        ],
        "x": 54,
        "y": 2479,
        "w": 612,
        "h": 209.5
    },
    {
        "id": "0e37023efcbf72ea",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "USB Ports on/off control",
        "style": {
            "label": true,
            "label-position": "ne",
            "color": "#0070c0",
            "stroke": "#bfdbef"
        },
        "nodes": [
            "809ff76332e60902",
            "bc4ee72d9ea3eeb2",
            "4714e3f8365a3998",
            "9549275c967ed354",
            "ce88c0d2843e1937",
            "749b1bde6fd5d087",
            "5eb722e260f4dbcd",
            "1a30acad9dbacdce",
            "5e21ab325222cbad",
            "9fe80ac855b6f0a5"
        ],
        "x": 54,
        "y": 2219,
        "w": 792,
        "h": 209.5
    },
    {
        "id": "6a6e55e1024eee6f",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "Styles",
        "style": {
            "stroke": "#bfdbef",
            "label": true,
            "color": "#0070c0",
            "label-position": "ne"
        },
        "nodes": [
            "53420e20f1529ec3",
            "6c0004a5d16e4aa9",
            "37b339d7affb229b"
        ],
        "x": 714,
        "y": 19,
        "w": 392,
        "h": 122
    },
    {
        "id": "1c6e9ee1d5cc4eb4",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "Triggers",
        "style": {
            "label": true,
            "stroke": "#bfdbef",
            "label-position": "ne",
            "color": "#0070c0"
        },
        "nodes": [
            "4add2c3a51956911",
            "5869c4c9173fac39",
            "e04e0302c29fe8ea",
            "016b6c97056022ba",
            "c86ce3cbad674b30"
        ],
        "x": 54,
        "y": 19,
        "w": 492,
        "h": 162
    },
    {
        "id": "ba346586de299012",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "RPI HW Status",
        "style": {
            "stroke": "#bfdbef",
            "label": true,
            "label-position": "ne",
            "color": "#0070c0"
        },
        "nodes": [
            "0b0014bcb1215fa7",
            "e5611b2fcac4931a",
            "a9ebd903024baf1f",
            "5f1f898ed52dec33",
            "5c495ad12559b0c8",
            "014144147c512db4",
            "1c3f7fe12a2ba1e7",
            "55d1b52a235d7341",
            "fb0f8b3c3c8c17b8",
            "6baf012dbd349ffa",
            "56233ae84f10daf0",
            "3058792756a1672f",
            "1fdcfc8e6fdb9f47",
            "63d4541c8f54a896",
            "0b3896d9c56ef449",
            "e366b32be923b872",
            "b3677c663fbd788c",
            "f8689d910efecba1",
            "0f6a861353c3f518",
            "ab0853541c81f84d",
            "c51e3e7efac88c8c",
            "d95fa273ff312e24",
            "e5c65f6b088c9f92",
            "dcc9d2c1d79cc8b6",
            "afe6a6cdd586999d",
            "5936acbffefeb250",
            "fddae9636299c91b",
            "e487daebdcfdd0ce",
            "0ccb130ecfa7347e",
            "ea157bdc7135cead",
            "2c764d0ea6eef61f",
            "49444f4a31e2db92",
            "c19399d8000af487",
            "6d82860e3a6a5c49",
            "3495c587de8fa044",
            "0036fdeebe588a3f",
            "8b34ce9a182ddaa1",
            "9470ab257160ae2f",
            "562abf43b576dcb5",
            "bb07f097680a47a0",
            "1316e4c3ead735a5"
        ],
        "x": 54,
        "y": 259,
        "w": 1072,
        "h": 742
    },
    {
        "id": "18261189d63b55d7",
        "type": "group",
        "z": "c3d0a05c4b8ac63b",
        "name": "Services",
        "style": {
            "stroke": "#bfdbef",
            "label": true,
            "label-position": "ne",
            "color": "#0070c0"
        },
        "nodes": [
            "fe5372f303fa604a",
            "240fc2d3e0a531f7",
            "30f966ec2654a554",
            "5c2886610e6dcb5b",
            "28c7d6ebe1777e21",
            "47a765adc5c64c36",
            "8ae8e696f617db7f",
            "7129ce6efe76c059",
            "d36fae1a893353e9",
            "197cb9b.8e143c6",
            "afaff6f163a93172",
            "8b893bf55aadf0cd",
            "73f96bdfd6bf2001",
            "1d1a4683346d1330",
            "64b429fa1a6090df",
            "45541c0e8414df34",
            "b01d11ea346fbc33",
            "5b36c5d7ae125be7",
            "f3f89f7d4944a6d0",
            "8c5b73beae0f8635",
            "8987de8dd2f6971d",
            "f2b9274e2a9753b2",
            "363421d6a6bca4f0",
            "d8155a210c5b5ee5",
            "8cad4154fd6db174",
            "82bb1b577eae217f",
            "1ca71b9b62474d08",
            "dd970d65baf53498",
            "d2ca99734617f54c",
            "e16078f9845b2831",
            "19d070a7c9639995",
            "50dd314327a98595",
            "0b8eb85bf7e9df47",
            "f6bdc669c2df0890",
            "ae16ec0d3c79e99a",
            "4d3c476cdb95a78e",
            "f209bb1b08e62012",
            "f618fc6e4483aa32",
            "c90b59cf309e0592",
            "46c067b4bfbea2ef",
            "4cbf840a773b6bb3",
            "96509b9d3ada750c",
            "aa49fd66441ef27f",
            "51a525695456c427",
            "7057564d87d94034",
            "71977de1f37158fc",
            "3e167881504e8340",
            "92c5e3fa4f50146c",
            "4063f26110fbf95a",
            "6b019ecb0106a13a",
            "cff6b8367b864471",
            "890dafb584cdea32",
            "794610dc662847c5",
            "e8518d6daf9bbac8",
            "1c0cb3eccc17d9fb",
            "cef8c338054dc50f",
            "6781c8b1230ee388",
            "08ee70248a481eaf",
            "794167ac2fa9efbb",
            "d653ab8b4ba63e59",
            "a151199b8f72683e",
            "93ed4eddd36f62d6",
            "a0c1cc2ce8978e70",
            "899e9970983b24bc",
            "5c58d85bb5abfbf8",
            "f489e1e69bc5d347",
            "0fe0035b535039d7",
            "e12f6573b4cf9974",
            "c0d34714a4195186",
            "6fdd60aa064cf088",
            "8820c4e4863b1f4f",
            "4ac4d58a30bf2333"
        ],
        "x": 54,
        "y": 1039,
        "w": 1312,
        "h": 1122
    },
    {
        "id": "a5537dcfc6be6786",
        "type": "ui_tab",
        "name": "Astroberry Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53d27990b94a973f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Courier,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Courier,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Astroberry Dashboad",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6582a58bf553f8ed",
        "type": "ui_group",
        "name": "System Status",
        "tab": "a5537dcfc6be6786",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d90693ead75ad9b6",
        "type": "ui_group",
        "name": "RPI Control",
        "tab": "a5537dcfc6be6786",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ecf9821bb10075e",
        "type": "ui_group",
        "name": "Services",
        "tab": "a5537dcfc6be6786",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c4d2b6bc1796f17",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2a481cf25f185bf",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcd1a28c7ec5e431",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e69e4e8d184735b",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5e67540ef982073",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e671dfdd9f4d09af",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "f61b1a8146413087",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae49bd195e498dba",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "04187306f139c22a",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "536fb5f084aea3fc",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5d887ac65955e2c",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "145c46d9984a7afc",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4071946fbced6af",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d58f3789326c40c",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "2401f7ed24a2f638",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "ead0e65ae8c31d5b",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "383bfb2b8afe57bb",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ecc2a4f3adcd451",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "e54aed9e9ba4b48b",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "b672a0bdb39da393",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "6c00d6c054a67edb",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "9be945cdd9cf275e",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "b834021c916eb7ce",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "16e6ede2bbd6a196",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9befe501f047444",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "12e6a657809947ba",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ef640a6ca6e621c",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd7896341423fe12",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9e930385b0b00ae",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "c534d292440aec88",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 45,
        "width": 10,
        "height": 1
    },
    {
        "id": "f2f240038847b8b0",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a46212e950dfbf5",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "a7ad0f1d84426792",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 49,
        "width": 7,
        "height": 1
    },
    {
        "id": "2dcdb953536d28f2",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "21696c9aabb459f3",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 55,
        "width": 7,
        "height": 1
    },
    {
        "id": "a03021cf31f3aa3d",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "9bf088f66ae64ac9",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 57,
        "width": 7,
        "height": 1
    },
    {
        "id": "65da4003415df1f4",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "34d8fee3f4383929",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 63,
        "width": 7,
        "height": 1
    },
    {
        "id": "517215e31574e851",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "6582a58bf553f8ed",
        "order": 64,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4c8a61de7397a6b",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1302c362a3af0b80",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0218f9ffc58b11ef",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "85f3f586a6e4ee1f",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1c59f12e99c7cdd",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "e2f1fd85e1d01590",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8036690f6c060e7",
        "type": "ui_spacer",
        "z": "c3d0a05c4b8ac63b",
        "name": "spacer",
        "group": "d90693ead75ad9b6",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "deb0c7475fc3f383",
        "type": "switch",
        "z": "d416c5ded7cb052a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "9cea0653c19a2d94"
            ],
            [
                "073e29f9f7715e5d"
            ]
        ]
    },
    {
        "id": "9cea0653c19a2d94",
        "type": "change",
        "z": "d416c5ded7cb052a",
        "name": "False --> Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "073e29f9f7715e5d",
        "type": "change",
        "z": "d416c5ded7cb052a",
        "name": "True --> Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1c7b709c00b6d09d",
        "type": "switch",
        "z": "6f8de54df6cd955e",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Inactive",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6bd23e7fef049a75",
                "863b761e0e2bf00b"
            ],
            [
                "2ef6a64b03c5380f",
                "d618e5387810ed85"
            ],
            [
                "dd6dbf1f33a4edf8"
            ]
        ]
    },
    {
        "id": "6bd23e7fef049a75",
        "type": "change",
        "z": "6f8de54df6cd955e",
        "name": "Active --> Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2ef6a64b03c5380f",
        "type": "change",
        "z": "6f8de54df6cd955e",
        "name": "Inctive --> Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "dd6dbf1f33a4edf8",
        "type": "change",
        "z": "6f8de54df6cd955e",
        "name": "Otherwise --> Orange",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "06ce349d38ae0fb1",
        "type": "function",
        "z": "6f8de54df6cd955e",
        "name": "Capitalize",
        "func": "var string = msg.payload.status\nstring = string.replace('\\n', '');\nmsg.payload.status = string.charAt(0).toUpperCase() + string.slice(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1c7b709c00b6d09d"
            ]
        ]
    },
    {
        "id": "863b761e0e2bf00b",
        "type": "change",
        "z": "6f8de54df6cd955e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d618e5387810ed85",
        "type": "change",
        "z": "6f8de54df6cd955e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "47298724f4c6dc14",
        "type": "function",
        "z": "557ad53c603ba1b5",
        "name": "",
        "func": "const key = 'alarm_'+msg.topic\nvar oldStatus = global.get(key)\nvar currentStatus = msg.payload\nvar newStatus = false\n\nnewStatus = oldStatus || currentStatus\nglobal.set(key,newStatus);\n\n\nmsg.payload = global.get(key)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ],
        "info": "if (msg.payload == \"reset\"){\n     global.set(key,false);\n}\nelse{\n    newStatus = oldStatus || msg.payload\n    global.set(key,newStatus);\n}\n\nmsg.payload = global.get(key)\nreturn msg;"
    },
    {
        "id": "4add2c3a51956911",
        "type": "inject",
        "z": "c3d0a05c4b8ac63b",
        "g": "1c6e9ee1d5cc4eb4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "5869c4c9173fac39",
                "c86ce3cbad674b30"
            ]
        ]
    },
    {
        "id": "66835c040d095a57",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "name": "Shutwdon",
        "group": "d90693ead75ad9b6",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Shutwdon",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off fa-2x",
        "payload": "Shutdown. <br> Are You Sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2640,
        "wires": [
            [
                "23359a0e7d26a17a"
            ]
        ],
        "info": "https://fontawesome.com/v4.7/icons/\n\nAlternativa de icono de \"materials.io\" power_settings_new\n\nhttps://material.io/icons/\n\nPero ojo porque no todos los free están disponibles en nodered.\n\n----------------------------\nVersión anterior, payload = -h\n"
    },
    {
        "id": "381f287b0c116dd1",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "name": "Restart",
        "group": "d90693ead75ad9b6",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Restart",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-repeat fa-2x",
        "payload": "Restart. <br> Are You Sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2580,
        "wires": [
            [
                "c6fc67cedabb81e1"
            ]
        ],
        "info": "https://fontawesome.com/v4.7/icons/\n\n----------------------------\nVersión anterior, payload = -r"
    },
    {
        "id": "94046c76a98453bb",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "command": "sudo shutdown -r",
        "addpay": "",
        "append": "now",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Restart",
        "x": 580,
        "y": 2580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "53420e20f1529ec3",
        "type": "ui_template",
        "z": "c3d0a05c4b8ac63b",
        "g": "6a6e55e1024eee6f",
        "group": "6582a58bf553f8ed",
        "name": "Backgrond Color",
        "order": 67,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n.nr-dashboard-text.wite{\n    background-color: #ffffff;\n}\n.nr-dashboard-text.grey{\n    background-color: grey;\n}\n.nr-dashboard-text.greyback{\n    background-color: #605c5c;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c6fc67cedabb81e1",
        "type": "ui_toast",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Ok",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Are You Sure?",
        "x": 300,
        "y": 2580,
        "wires": [
            [
                "d9ed37d5a131e44b"
            ]
        ]
    },
    {
        "id": "d9ed37d5a131e44b",
        "type": "switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "name": "If Ok",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ok",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 2580,
        "wires": [
            [
                "94046c76a98453bb"
            ]
        ]
    },
    {
        "id": "6c0004a5d16e4aa9",
        "type": "ui_template",
        "z": "c3d0a05c4b8ac63b",
        "g": "6a6e55e1024eee6f",
        "group": "6582a58bf553f8ed",
        "name": "Grouop Title Style",
        "order": 65,
        "width": 0,
        "height": 0,
        "format": "<style>\np.nr-dashboard-cardtitle { \n    text-align: center;\n    font-weight: bold;\n    font-size:140%;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 830,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "809ff76332e60902",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "name": "",
        "group": "d90693ead75ad9b6",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "USB ON",
        "tooltip": "USB Ports Power On",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "4714e3f8365a3998"
            ]
        ]
    },
    {
        "id": "bc4ee72d9ea3eeb2",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "name": "",
        "group": "d90693ead75ad9b6",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "USB OFF",
        "tooltip": "USB Ports Power On",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2380,
        "wires": [
            [
                "9fe80ac855b6f0a5"
            ]
        ]
    },
    {
        "id": "4714e3f8365a3998",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "command": "uhubctl -l 2 -a on; sudo udevadm trigger --action=\"add\" /sys/bus/usb/devices/1-1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "USB Power On",
        "x": 300,
        "y": 2320,
        "wires": [
            [
                "9549275c967ed354"
            ],
            [],
            []
        ],
        "info": "Send on/off command to uhubctl\n\n\n"
    },
    {
        "id": "9549275c967ed354",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "command": "uhubctl | grep 'Port 2' | awk '{print $4}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_usb_status",
        "x": 520,
        "y": 2380,
        "wires": [
            [
                "5e21ab325222cbad"
            ],
            [],
            []
        ]
    },
    {
        "id": "ce88c0d2843e1937",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "group": "d90693ead75ad9b6",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "USB Status",
        "label": "<h3>USB Ports Control",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 150,
        "y": 2260,
        "wires": [],
        "info": "<h1> {{msg.payload | uppercase}} </h1>"
    },
    {
        "id": "5869c4c9173fac39",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "1c6e9ee1d5cc4eb4",
        "name": "",
        "func": "var date = new Date(msg.payload);\nvar date_str = date.toISOString().slice(0,10) + \" \" + date.toISOString().slice(11,-5);\nmsg.payload = date_str\nmsg.className = \"greyback\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "e04e0302c29fe8ea"
            ]
        ]
    },
    {
        "id": "e04e0302c29fe8ea",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "1c6e9ee1d5cc4eb4",
        "group": "6582a58bf553f8ed",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "Date",
        "label": "<p>Date:</p>",
        "format": "<p>{{ msg.payload }}</p>",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe5372f303fa604a",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status virtualhere.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_virtualhere_status",
        "x": 460,
        "y": 1920,
        "wires": [
            [
                "f3f89f7d4944a6d0"
            ],
            [],
            []
        ]
    },
    {
        "id": "240fc2d3e0a531f7",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "VirtualHere",
        "label": "VirtualHere",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 1920,
        "wires": []
    },
    {
        "id": "30f966ec2654a554",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "pgrep indiserver",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_indiserver_status",
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "d36fae1a893353e9"
            ],
            [],
            []
        ]
    },
    {
        "id": "5c2886610e6dcb5b",
        "type": "switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 1160,
        "wires": [
            [
                "28c7d6ebe1777e21"
            ],
            [
                "47a765adc5c64c36"
            ]
        ]
    },
    {
        "id": "28c7d6ebe1777e21",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "Active --> Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "Active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1120,
        "wires": [
            [
                "8ae8e696f617db7f"
            ]
        ]
    },
    {
        "id": "47a765adc5c64c36",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "Inctive --> Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "Inactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "8ae8e696f617db7f"
            ]
        ]
    },
    {
        "id": "8ae8e696f617db7f",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "INDI Server",
        "label": "<a href=\"{{msg.payload.url}}\"  target=\"_blank\" rel=\"noopener noreferrer\"> INDI Server </a>",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7129ce6efe76c059",
        "type": "join",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1120,
        "wires": [
            [
                "5c2886610e6dcb5b"
            ]
        ]
    },
    {
        "id": "d36fae1a893353e9",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "7129ce6efe76c059"
            ]
        ]
    },
    {
        "id": "197cb9b.8e143c6",
        "type": "ui_template",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "name": "Get UI URL",
        "order": 17,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.send({payload: window.location.href});  \n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "8cad4154fd6db174"
            ]
        ],
        "info": "La obteción de IP se planteó primero con un Exec con el comando \"hostname\"  y un change que eliminaba el \\n al final y hacia msg.topic = \"url\". pPro cuando la RP tiene dos interfacces conectadas esto devuelve un string con el formato \"xxx.xxx.xxx.xxx yyy.yyy.yyy.yyy \\n\" y por lo tanto el link en el indicador de la ui no funciona.\n\nLa solución fue obtener la IP a la que se acceder desde el navegador con este nodo \"template\". Además tiene la ventaja de que se ejecuta una única vez al inicio. Tambien fue necesario habilitar la opción \"and every subsequent message.\" en el join.\n\nhttps://discourse.nodered.org/t/how-to-get-address-of-the-browser-instance/51024"
    },
    {
        "id": "afaff6f163a93172",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "make_indi_web_mngr_url",
        "func": "var ip = msg.payload\nconst port = \"8624\"\nmsg.payload = \"http://\" + ip + \":\" + port // INDI Web Manager URL\nmsg.topic = \"url\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "7129ce6efe76c059"
            ]
        ]
    },
    {
        "id": "8b893bf55aadf0cd",
        "type": "ping",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "192.168.0.111",
        "timer": "20",
        "inputs": 1,
        "x": 430,
        "y": 2100,
        "wires": [
            [
                "73f96bdfd6bf2001"
            ]
        ]
    },
    {
        "id": "73f96bdfd6bf2001",
        "type": "switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 2100,
        "wires": [
            [
                "64b429fa1a6090df"
            ],
            [
                "1d1a4683346d1330"
            ]
        ]
    },
    {
        "id": "1d1a4683346d1330",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "Number --> Green",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 2120,
        "wires": [
            [
                "45541c0e8414df34"
            ]
        ]
    },
    {
        "id": "64b429fa1a6090df",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "False--> Red",
        "rules": [
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Inactive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 2080,
        "wires": [
            [
                "45541c0e8414df34"
            ]
        ]
    },
    {
        "id": "45541c0e8414df34",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 16,
        "width": 3,
        "height": 1,
        "name": "Camera ",
        "label": "<a href=http://192.168.0.111/  target=\"_blank\" rel=\"noopener noreferrer\">Camera</a>",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 960,
        "y": 2100,
        "wires": []
    },
    {
        "id": "b01d11ea346fbc33",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status novnc.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_novnc_status",
        "x": 450,
        "y": 1260,
        "wires": [
            [
                "8c5b73beae0f8635"
            ],
            [],
            []
        ]
    },
    {
        "id": "5b36c5d7ae125be7",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "noVNC",
        "label": "<a href=\"{{msg.payload.url}}\"  target=\"_blank\" rel=\"noopener noreferrer\"\">noVNC</a>",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1240,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f3f89f7d4944a6d0",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1920,
        "wires": [
            [
                "363421d6a6bca4f0"
            ]
        ]
    },
    {
        "id": "8c5b73beae0f8635",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "8987de8dd2f6971d"
            ]
        ]
    },
    {
        "id": "8987de8dd2f6971d",
        "type": "join",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1260,
        "wires": [
            [
                "d8155a210c5b5ee5"
            ]
        ]
    },
    {
        "id": "f2b9274e2a9753b2",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "make_novnc_web_url",
        "func": "var ip = msg.payload\n\nmsg.payload = \"http://\" + ip  // noVNC Web URL\nmsg.topic = \"url\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "8987de8dd2f6971d"
            ]
        ]
    },
    {
        "id": "363421d6a6bca4f0",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1920,
        "wires": [
            [
                "240fc2d3e0a531f7"
            ],
            [
                "1c0cb3eccc17d9fb"
            ]
        ]
    },
    {
        "id": "d8155a210c5b5ee5",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1260,
        "wires": [
            [
                "5b36c5d7ae125be7"
            ],
            []
        ]
    },
    {
        "id": "8cad4154fd6db174",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "get_ip",
        "func": "var url = msg.payload\nvar index1 = url.indexOf(\":\",0)\nvar index2 = url.indexOf(\":\", index1+1)\nmsg.payload = url.slice(index1+3,index2) //IP\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1240,
        "wires": [
            [
                "afaff6f163a93172",
                "f2b9274e2a9753b2",
                "ae16ec0d3c79e99a",
                "46c067b4bfbea2ef"
            ]
        ]
    },
    {
        "id": "82bb1b577eae217f",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status virtualgps.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_virtualgps_status",
        "x": 460,
        "y": 1680,
        "wires": [
            [
                "d2ca99734617f54c"
            ],
            [],
            []
        ]
    },
    {
        "id": "1ca71b9b62474d08",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1680,
        "wires": [
            [
                "dd970d65baf53498"
            ],
            [
                "a151199b8f72683e"
            ]
        ]
    },
    {
        "id": "dd970d65baf53498",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "Virtual GPS",
        "label": "Virtual GPS",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d2ca99734617f54c",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1680,
        "wires": [
            [
                "1ca71b9b62474d08"
            ]
        ]
    },
    {
        "id": "e16078f9845b2831",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status gpspanel.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_gpspanel_status",
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "f6bdc669c2df0890"
            ],
            [],
            []
        ]
    },
    {
        "id": "19d070a7c9639995",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1380,
        "wires": [
            [
                "50dd314327a98595"
            ],
            []
        ]
    },
    {
        "id": "50dd314327a98595",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 13,
        "width": 3,
        "height": 1,
        "name": "GPS Panel",
        "label": "<a href=\"{{msg.payload.url}}\"  target=\"_blank\" rel=\"noopener noreferrer\"\">GPS Panel</a>",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 1380,
        "wires": [],
        "info": "gpspannel \nsystemctl status gpspanel.service\nhttps://github.com/rkaczorek/gpspanel\nhttp://192.168.0.101:8625/"
    },
    {
        "id": "0b8eb85bf7e9df47",
        "type": "join",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1380,
        "wires": [
            [
                "19d070a7c9639995"
            ]
        ]
    },
    {
        "id": "f6bdc669c2df0890",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1380,
        "wires": [
            [
                "0b8eb85bf7e9df47"
            ]
        ]
    },
    {
        "id": "ae16ec0d3c79e99a",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "make_gpspanel_web_url",
        "func": "var ip = msg.payload\nconst port = \"8625\"\nmsg.payload = \"http://\" + ip + \":\" + port //\nmsg.topic = \"url\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1320,
        "wires": [
            [
                "0b8eb85bf7e9df47"
            ]
        ]
    },
    {
        "id": "4d3c476cdb95a78e",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status astropanel.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_astropanel_status",
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "c90b59cf309e0592"
            ],
            [],
            []
        ]
    },
    {
        "id": "f209bb1b08e62012",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1500,
        "wires": [
            [
                "4cbf840a773b6bb3"
            ],
            []
        ]
    },
    {
        "id": "f618fc6e4483aa32",
        "type": "join",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1500,
        "wires": [
            [
                "f209bb1b08e62012"
            ]
        ]
    },
    {
        "id": "c90b59cf309e0592",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "f618fc6e4483aa32"
            ]
        ]
    },
    {
        "id": "46c067b4bfbea2ef",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "make_astropanel_web_url",
        "func": "var ip = msg.payload\nconst port = \"8626\"\nmsg.payload = \"http://\" + ip + \":\" + port //\nmsg.topic = \"url\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "f618fc6e4483aa32"
            ]
        ]
    },
    {
        "id": "4cbf840a773b6bb3",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 15,
        "width": 3,
        "height": 1,
        "name": "AstroPanel",
        "label": "<a href=\"{{msg.payload.url}}\"  target=\"_blank\" rel=\"noopener noreferrer\"\">AstroPanel</a>",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 1500,
        "wires": [],
        "info": "Astropanel\nsystemctl status astropanel.service\nhttp://192.168.0.101:8626/\n"
    },
    {
        "id": "96509b9d3ada750c",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status gpsd | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_gspd_status",
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "7057564d87d94034"
            ],
            [],
            []
        ]
    },
    {
        "id": "aa49fd66441ef27f",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1560,
        "wires": [
            [
                "51a525695456c427"
            ],
            [
                "5c58d85bb5abfbf8"
            ]
        ]
    },
    {
        "id": "51a525695456c427",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "GPS Daemon",
        "label": "GPS Daemon",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1260,
        "y": 1560,
        "wires": [],
        "info": "https://gpsd.gitlab.io/gpsd/"
    },
    {
        "id": "7057564d87d94034",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1560,
        "wires": [
            [
                "aa49fd66441ef27f"
            ]
        ]
    },
    {
        "id": "71977de1f37158fc",
        "type": "link in",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "timestamp_in_sys-status",
        "links": [
            "c86ce3cbad674b30"
        ],
        "x": 275,
        "y": 1100,
        "wires": [
            [
                "fe5372f303fa604a",
                "30f966ec2654a554",
                "8b893bf55aadf0cd",
                "b01d11ea346fbc33",
                "82bb1b577eae217f",
                "e16078f9845b2831",
                "4d3c476cdb95a78e",
                "96509b9d3ada750c",
                "3e167881504e8340",
                "cff6b8367b864471"
            ]
        ],
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "3e167881504e8340",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status fancontrol.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "fan_control_status",
        "x": 450,
        "y": 2040,
        "wires": [
            [
                "92c5e3fa4f50146c"
            ],
            [],
            []
        ]
    },
    {
        "id": "92c5e3fa4f50146c",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2040,
        "wires": [
            [
                "4063f26110fbf95a"
            ]
        ]
    },
    {
        "id": "4063f26110fbf95a",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 2040,
        "wires": [
            [
                "6b019ecb0106a13a"
            ],
            []
        ]
    },
    {
        "id": "6b019ecb0106a13a",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Fan Control",
        "label": "Fan Control",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1250,
        "y": 2040,
        "wires": []
    },
    {
        "id": "37b339d7affb229b",
        "type": "ui_template",
        "z": "c3d0a05c4b8ac63b",
        "g": "6a6e55e1024eee6f",
        "group": "6582a58bf553f8ed",
        "name": "Label Style",
        "order": 66,
        "width": 0,
        "height": 0,
        "format": "<style>\np.label { \n    text-align: center;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1010,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "016b6c97056022ba",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "1c6e9ee1d5cc4eb4",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh fa-2x",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "c86ce3cbad674b30",
                "5869c4c9173fac39"
            ]
        ]
    },
    {
        "id": "c86ce3cbad674b30",
        "type": "link out",
        "z": "c3d0a05c4b8ac63b",
        "g": "1c6e9ee1d5cc4eb4",
        "name": "timestamp_out",
        "mode": "link",
        "links": [
            "2c764d0ea6eef61f",
            "71977de1f37158fc",
            "749b1bde6fd5d087"
        ],
        "x": 440,
        "y": 60,
        "wires": [],
        "icon": "font-awesome/fa-clock-o",
        "l": true
    },
    {
        "id": "749b1bde6fd5d087",
        "type": "link in",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "name": "timestamp_out_usb-status",
        "links": [
            "c86ce3cbad674b30"
        ],
        "x": 375,
        "y": 2260,
        "wires": [
            [
                "9549275c967ed354"
            ]
        ],
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "5eb722e260f4dbcd",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "group": "d90693ead75ad9b6",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "USB 2.0 Status",
        "label": "<i class=\"fa fa-usb fa-lg\" title=\"USB 2.0 Ports Status\"></i>",
        "format": "2.0",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 2300,
        "wires": []
    },
    {
        "id": "1a30acad9dbacdce",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "group": "d90693ead75ad9b6",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "USB 3.0 Status",
        "label": "<i class=\"fa fa-usb fa-lg\" title=\"USB 3.0 Ports Status\"></i>",
        "format": "3.0",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 2340,
        "wires": []
    },
    {
        "id": "5e21ab325222cbad",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "name": "get_hubs_status",
        "func": "var usb2 = {payload:\"\",topic:\"USB 2.0\",className: \"greyback\"};\nvar usb3 = {payload:\"\",topic:\"USB 3.0\",className: \"greyback\"};\nvar string = msg.payload\nconst index1 = string.indexOf(\"\\n\",0)\nusb3.payload = string.slice(0,index1)\nusb2.payload = string.slice(index1+1,-1)\n\nif(usb3.payload == \"power\"){usb3.className = \"green\"}\nif(usb2.payload == \"power\"){usb2.className = \"green\"}\n\nreturn [usb2, usb3]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 2320,
        "wires": [
            [
                "5eb722e260f4dbcd"
            ],
            [
                "1a30acad9dbacdce"
            ]
        ]
    },
    {
        "id": "018555d80f7d9547",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "group": "d90693ead75ad9b6",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "Raspberry Pi Power Off",
        "label": "<h3>Raspberry Pi Power Off",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 190,
        "y": 2520,
        "wires": [],
        "info": "<h1> {{msg.payload | uppercase}} </h1>"
    },
    {
        "id": "3bc1537c3343d03d",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "command": "sudo shutdown -h",
        "addpay": "",
        "append": "now",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Shutdown",
        "x": 580,
        "y": 2640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "322cb3fcd96bc97f",
        "type": "switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "name": "If Ok",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ok",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 2640,
        "wires": [
            [
                "3bc1537c3343d03d"
            ]
        ]
    },
    {
        "id": "23359a0e7d26a17a",
        "type": "ui_toast",
        "z": "c3d0a05c4b8ac63b",
        "g": "95b974680d37559d",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Ok",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Are You Sure?",
        "x": 300,
        "y": 2640,
        "wires": [
            [
                "322cb3fcd96bc97f"
            ]
        ]
    },
    {
        "id": "9fe80ac855b6f0a5",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "0e37023efcbf72ea",
        "command": "uhubctl -l 2 -a off; sudo  udevadm trigger --action=remove /sys/bus/usb/devices/2-1; sudo  udevadm trigger --action=remove /sys/bus/usb/devices/2-2; sudo  udevadm trigger --action=remove /sys/bus/usb/devices/1-1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "USB Power Off",
        "x": 300,
        "y": 2380,
        "wires": [
            [
                "9549275c967ed354"
            ],
            [],
            []
        ],
        "info": "Send on/off command to uhubctl"
    },
    {
        "id": "0b0014bcb1215fa7",
        "type": "subflow:557ad53c603ba1b5",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "x": 670,
        "y": 880,
        "wires": [
            [
                "e5611b2fcac4931a"
            ]
        ]
    },
    {
        "id": "e5611b2fcac4931a",
        "type": "subflow:d416c5ded7cb052a",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 840,
        "y": 880,
        "wires": [
            [
                "a9ebd903024baf1f"
            ]
        ]
    },
    {
        "id": "a9ebd903024baf1f",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 41,
        "width": 2,
        "height": 2,
        "name": "Freq. Capped",
        "label": "Freq. Capped",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "5f1f898ed52dec33",
        "type": "subflow:557ad53c603ba1b5",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "x": 670,
        "y": 960,
        "wires": [
            [
                "5c495ad12559b0c8"
            ]
        ]
    },
    {
        "id": "5c495ad12559b0c8",
        "type": "subflow:d416c5ded7cb052a",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 840,
        "y": 960,
        "wires": [
            [
                "014144147c512db4"
            ]
        ]
    },
    {
        "id": "014144147c512db4",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 39,
        "width": 2,
        "height": 2,
        "name": "Over Temp.",
        "label": "Over Temp. Latch",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "1c3f7fe12a2ba1e7",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 33,
        "width": 4,
        "height": 1,
        "name": "Fan Status",
        "label": "<i class=\"fa fa-snowflake-o fa-2x\" title=\"Fan Status\"></i> ",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "55d1b52a235d7341",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "command": "gpio -g read 17",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_fan_status",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "ea157bdc7135cead"
            ],
            [],
            []
        ]
    },
    {
        "id": "fb0f8b3c3c8c17b8",
        "type": "ui_gauge",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 24,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "6baf012dbd349ffa",
        "type": "vcgencmd",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "get_temperature",
        "fullPath": "/opt/vc/bin/vcgencmd",
        "command": "measure_temp",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "fb0f8b3c3c8c17b8",
                "d95fa273ff312e24"
            ]
        ],
        "info": "https://flows.nodered.org/node/node-red-contrib-vcgencmd"
    },
    {
        "id": "56233ae84f10daf0",
        "type": "vcgencmd",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "fullPath": "/opt/vc/bin/vcgencmd",
        "command": "get_throttled",
        "codec": "H264",
        "clock": "core",
        "voltage": "core",
        "memory": "arm",
        "videoOutput": "0",
        "separateMsg": false,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "5936acbffefeb250",
                "fddae9636299c91b",
                "e487daebdcfdd0ce",
                "0ccb130ecfa7347e",
                "1316e4c3ead735a5"
            ]
        ],
        "info": "https://flows.nodered.org/node/node-red-contrib-vcgencmd"
    },
    {
        "id": "3058792756a1672f",
        "type": "ui_gauge",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "CPU load",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "1fdcfc8e6fdb9f47",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cpu_load",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "3058792756a1672f",
                "63d4541c8f54a896"
            ],
            [],
            []
        ]
    },
    {
        "id": "63d4541c8f54a896",
        "type": "ui_chart",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 6,
        "width": 8,
        "height": 4,
        "label": "CPU Load, %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#0080ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0b3896d9c56ef449",
        "type": "ui_gauge",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 14,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "RAM usage",
        "label": "%",
        "format": "{{msg.payload.memusage}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "e366b32be923b872",
        "type": "ui_chart",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 16,
        "width": 8,
        "height": 4,
        "label": "RAM usage,  %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b3677c663fbd788c",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "extract_memory_usage",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 480,
        "wires": [
            [
                "e366b32be923b872"
            ]
        ]
    },
    {
        "id": "f8689d910efecba1",
        "type": "Memory",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "0b3896d9c56ef449",
                "b3677c663fbd788c"
            ]
        ]
    },
    {
        "id": "0f6a861353c3f518",
        "type": "ui_gauge",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 36,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "SD Used",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "ab0853541c81f84d",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "c51e3e7efac88c8c"
            ],
            [],
            []
        ]
    },
    {
        "id": "c51e3e7efac88c8c",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "convert_sd_usage",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [],
            [],
            [
                "0f6a861353c3f518"
            ]
        ]
    },
    {
        "id": "d95fa273ff312e24",
        "type": "ui_chart",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "group": "6582a58bf553f8ed",
        "order": 26,
        "width": 8,
        "height": 4,
        "label": "CPU Temperature, °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c65f6b088c9f92",
        "type": "Uptime",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "Uptime",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "dcc9d2c1d79cc8b6"
            ]
        ]
    },
    {
        "id": "dcc9d2c1d79cc8b6",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400).toString();\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600).toString().padStart(2, '0');\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60).toString().padStart(2, '0');\nvar s = Math.round(((msg.payload.uptime % 86400) % 3600) % 60).toString().padStart(2, '0');\nmsg.payload = d + ' ' + h + ':' + m + ':' + s;\nmsg.className = \"greyback\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "afe6a6cdd586999d"
            ]
        ]
    },
    {
        "id": "afe6a6cdd586999d",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "Uptime",
        "label": "<p>Uptime [d HH:MM:SS]:</p>",
        "format": "<p>{{ msg.payload }}</p>",
        "layout": "row-center",
        "className": "",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "5936acbffefeb250",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "underVoltage",
        "rules": [
            {
                "t": "move",
                "p": "payload.underVoltage",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "underVoltage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 840,
        "wires": [
            [
                "8b34ce9a182ddaa1"
            ]
        ],
        "info": "Under-voltage occurs when voltage drops below 4.63V. In that case the Raspberry will be throttled.\r\n"
    },
    {
        "id": "fddae9636299c91b",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "frequencyCapped",
        "rules": [
            {
                "t": "move",
                "p": "payload.frequencyCapped",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "frequencyCapped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "0b0014bcb1215fa7"
            ]
        ],
        "info": "The arm frequency capping occurs at temperatures above 80 degrees Celsius.\r\n"
    },
    {
        "id": "e487daebdcfdd0ce",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "throttled",
        "rules": [
            {
                "t": "move",
                "p": "payload.throttled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "throttled",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "bb07f097680a47a0"
            ]
        ]
    },
    {
        "id": "0ccb130ecfa7347e",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "softTempLimit",
        "rules": [
            {
                "t": "move",
                "p": "payload.softTempLimit",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "softTempLimit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "5f1f898ed52dec33"
            ]
        ],
        "info": "Over-temperature occurs at temperatures above 85 degrees Celsius. In that case the Raspberry will be throttled.\r\n"
    },
    {
        "id": "ea157bdc7135cead",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "func": "if      (msg.payload == \"1\\n\"){\n    msg.payload = \"On\"\n    msg.className = \"green\"\n}\nelse if (msg.payload == \"0\\n\"){\n    msg.payload = \"Off\"\n    msg.className = \"greyback\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "1c3f7fe12a2ba1e7"
            ]
        ]
    },
    {
        "id": "2c764d0ea6eef61f",
        "type": "link in",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "timestamp_in_hw-status",
        "links": [
            "c86ce3cbad674b30"
        ],
        "x": 95,
        "y": 300,
        "wires": [
            [
                "55d1b52a235d7341",
                "6baf012dbd349ffa",
                "1fdcfc8e6fdb9f47",
                "f8689d910efecba1",
                "ab0853541c81f84d",
                "e5c65f6b088c9f92",
                "49444f4a31e2db92"
            ]
        ],
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "49444f4a31e2db92",
        "type": "trigger",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "Trigger every 0.5 s",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "56233ae84f10daf0"
            ]
        ]
    },
    {
        "id": "c19399d8000af487",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 38,
        "width": 2,
        "height": 2,
        "name": "Under Voltage",
        "label": "Under Voltage",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 840,
        "wires": [],
        "info": "Under-voltage occurs when voltage drops below 4.63V. In that case the Raspberry will be throttled.\r\n"
    },
    {
        "id": "6d82860e3a6a5c49",
        "type": "subflow:d416c5ded7cb052a",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 840,
        "y": 840,
        "wires": [
            [
                "c19399d8000af487"
            ]
        ]
    },
    {
        "id": "3495c587de8fa044",
        "type": "ui_button",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "Alarms Reset",
        "group": "6582a58bf553f8ed",
        "order": 47,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Alarms Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 860,
        "wires": [
            [
                "0036fdeebe588a3f"
            ]
        ]
    },
    {
        "id": "0036fdeebe588a3f",
        "type": "function",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "Alarms Reset",
        "func": "global.set(\"alarm_underVoltage\",false);\nglobal.set(\"alarm_frequencyCapped\",false);\nglobal.set(\"alarm_throttled\",false);\nglobal.set(\"alarm_softTempLimit\",false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"alarm_underVoltage\",false);\nglobal.set(\"alarm_frequencyCapped\",false);\nglobal.set(\"alarm_throttled\",false);\nglobal.set(\"alarm_softTempLimit\",false);\n//global.set(\"alarm-\",false);\n",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "8b34ce9a182ddaa1",
        "type": "subflow:557ad53c603ba1b5",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 670,
        "y": 840,
        "wires": [
            [
                "6d82860e3a6a5c49"
            ]
        ]
    },
    {
        "id": "9470ab257160ae2f",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "group": "6582a58bf553f8ed",
        "order": 40,
        "width": 2,
        "height": 2,
        "name": "Throttled",
        "label": "Throttled",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 920,
        "wires": []
    },
    {
        "id": "562abf43b576dcb5",
        "type": "subflow:d416c5ded7cb052a",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "x": 840,
        "y": 920,
        "wires": [
            [
                "9470ab257160ae2f"
            ]
        ]
    },
    {
        "id": "bb07f097680a47a0",
        "type": "subflow:557ad53c603ba1b5",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "x": 670,
        "y": 920,
        "wires": [
            [
                "562abf43b576dcb5"
            ]
        ]
    },
    {
        "id": "cff6b8367b864471",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "systemctl status chronyd.service | grep 'Active:' | awk {'print $2'}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get_chrony_status",
        "x": 450,
        "y": 1800,
        "wires": [
            [
                "890dafb584cdea32"
            ],
            [],
            []
        ]
    },
    {
        "id": "890dafb584cdea32",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1800,
        "wires": [
            [
                "794610dc662847c5"
            ]
        ]
    },
    {
        "id": "794610dc662847c5",
        "type": "subflow:6f8de54df6cd955e",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "x": 1040,
        "y": 1800,
        "wires": [
            [
                "e8518d6daf9bbac8"
            ],
            [
                "c0d34714a4195186"
            ]
        ]
    },
    {
        "id": "e8518d6daf9bbac8",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "Chrony",
        "label": "Chrony",
        "format": "{{msg.payload.status}}",
        "layout": "col-center",
        "className": "",
        "x": 1240,
        "y": 1800,
        "wires": []
    },
    {
        "id": "1c0cb3eccc17d9fb",
        "type": "ui_switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "label": "VirtualHere",
        "tooltip": "",
        "group": "4ecf9821bb10075e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 1980,
        "wires": [
            [
                "cef8c338054dc50f"
            ]
        ]
    },
    {
        "id": "cef8c338054dc50f",
        "type": "rbe",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 1980,
        "wires": [
            [
                "08ee70248a481eaf"
            ]
        ]
    },
    {
        "id": "6781c8b1230ee388",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "sudo systemctl ",
        "addpay": "payload",
        "append": " virtualhere.service",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "VirtualHere Star/Stop",
        "x": 1120,
        "y": 1980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "08ee70248a481eaf",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1980,
        "wires": [
            [
                "6781c8b1230ee388"
            ]
        ]
    },
    {
        "id": "794167ac2fa9efbb",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Services Control",
        "label": "<h3> Control",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 180,
        "y": 1580,
        "wires": [],
        "info": "<h1> {{msg.payload | uppercase}} </h1>"
    },
    {
        "id": "d653ab8b4ba63e59",
        "type": "ui_text",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "group": "4ecf9821bb10075e",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Services Status",
        "label": "<h3> Satatus",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 180,
        "y": 1620,
        "wires": [],
        "info": "<h1> {{msg.payload | uppercase}} </h1>"
    },
    {
        "id": "a151199b8f72683e",
        "type": "ui_switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "label": "Virtual GPS",
        "tooltip": "",
        "group": "4ecf9821bb10075e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 530,
        "y": 1740,
        "wires": [
            [
                "93ed4eddd36f62d6"
            ]
        ]
    },
    {
        "id": "93ed4eddd36f62d6",
        "type": "rbe",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 1740,
        "wires": [
            [
                "899e9970983b24bc"
            ]
        ]
    },
    {
        "id": "a0c1cc2ce8978e70",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "sudo systemctl ",
        "addpay": "payload",
        "append": " virtualgps.service",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Virtual GPS Star/Stop",
        "x": 1100,
        "y": 1740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "899e9970983b24bc",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1740,
        "wires": [
            [
                "a0c1cc2ce8978e70"
            ]
        ]
    },
    {
        "id": "5c58d85bb5abfbf8",
        "type": "ui_switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "label": "GPS Daemon",
        "tooltip": "",
        "group": "4ecf9821bb10075e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 1620,
        "wires": [
            [
                "f489e1e69bc5d347"
            ]
        ]
    },
    {
        "id": "f489e1e69bc5d347",
        "type": "rbe",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 1620,
        "wires": [
            [
                "e12f6573b4cf9974"
            ]
        ]
    },
    {
        "id": "0fe0035b535039d7",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "sudo systemctl ",
        "addpay": "payload",
        "append": " gpsd ",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "GPSD Star/Stop",
        "x": 1080,
        "y": 1620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e12f6573b4cf9974",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1620,
        "wires": [
            [
                "0fe0035b535039d7"
            ]
        ]
    },
    {
        "id": "c0d34714a4195186",
        "type": "ui_switch",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "label": "Chrony",
        "tooltip": "",
        "group": "4ecf9821bb10075e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "6fdd60aa064cf088"
            ]
        ]
    },
    {
        "id": "6fdd60aa064cf088",
        "type": "rbe",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 1860,
        "wires": [
            [
                "8820c4e4863b1f4f"
            ]
        ]
    },
    {
        "id": "8820c4e4863b1f4f",
        "type": "change",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1860,
        "wires": [
            [
                "4ac4d58a30bf2333"
            ]
        ]
    },
    {
        "id": "4ac4d58a30bf2333",
        "type": "exec",
        "z": "c3d0a05c4b8ac63b",
        "g": "18261189d63b55d7",
        "command": "sudo systemctl ",
        "addpay": "payload",
        "append": " chronyd.service",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Chrony Star/Stop",
        "x": 1090,
        "y": 1860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1316e4c3ead735a5",
        "type": "debug",
        "z": "c3d0a05c4b8ac63b",
        "g": "ba346586de299012",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 800,
        "wires": []
    }
]